<section id="user-registration">
  <h3>User Registration</h3>
  <form formGroupName="userForm">
    <mat-form-field
      formControlName="firstName"
      appearance="outline"
      floatLabel="First Name"
    >
      <!-- <mat-label>
        First Name
      </mat-label> -->
      <input matInput placeholder="Enter first name..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </form>
</section>
